.DS_Store

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds / caches
dist/
build/
.turbo/
.cache/
.parcel-cache/
.vite/
coverage/

# Runtime logs
logs/
*.log

# PM2
pids/
*.pid
*.seed
*.pid.lock

# IDE
.idea/
.vscode/
